.color-picker{
    position: relative;
}
.color-indicator{

    width:70px;
    height:70px;
    background-color: rgb(182, 116, 116);
    border-radius: bold white;
  
    margin-left: 50px;
}

input{
    width: 10px;
    
    padding: 5px;
}

.table{
    border:groove;
    border-color:#006;
    background-color:rgb(0,51,153);
    color:rgb(255,255,255);
}

th{
    border: solid 1px black
}

#color, #color2{
    width: 150px;
}
#hex, #hex2{
    width:160px;
}


